Server/clothing_be/clothing_be/appsettings.json
Server/clothing_be/clothing_be/appsettings.Development.json

# Visual Studio cache/options
.vs
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/